{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        
    </h3>
    <p>
        На время проведения игры вам доступен чат для разговоров со вторым участником из вашей группы, используйте эту возможность для получения наибольшей выгоды для вас и второго игрока.
        Вы случайно и анонимно распределяетесь на пары.
        Затем вы выбираете ход за участника А и за участника Б. После этого случайно определяется ваша роль, кто из вас будет Участником А, а кто Участником Б. И используется ранее выбранная вами стратегия.
    </p>
<p> Общие правила игры </p>
    <p>
        В начале у Участника А есть {{Constants.endowment}};
        а у Участника Б нет ничего.
        Участник A может передать какое-то количество из имеющихся у него 
        {{ Constants.endowment }} Участнику Б.
        Всё, что получил Участник Б, будет умножено на {{ Constants.multiplier}}. 
        После этого Участник Б может вернуть Участнику А любое имеющееся у него количество очков или не возвращать ничего.

        <div class="alert alert-secondary" role="alert">
        <p>Выигрыш Участника А = {{ Constants.endowment }} - Отдал Участнику Б + Вернул Участник Б</p>

        <p>Выигрыш Участника Б = {{ Constants.multiplier}}*Получил от Участника А - Вернул Участнику А</p>
        </div>
    </p>

<p> Как проходит игра </p>
<p>
В начале предлагается определить действия в роли участника А. Потом предлаегатся определить ход в роли участника Б для каждого возможного действия участника А. 
После того как все участники выберут свои ходы. Случайным образом определяется роль игрока и провидится игра по общим правилам.
</p>

</div>
</div>